<back-button></back-button>
<add-device></add-device>

<table class="table" *ngIf="deviceList.length > 0">
  <thead>
    <tr>
      <th scope="col">
        Device ID
      </th>
      <th>Breite</th>
      <th>Höhe</th>
      <th>Optionen</th>
    </tr>
  </thead>
  <tbody>
    <tr class="col-md-12" *ngFor="let device of deviceList">
      <td>{{ device.id }}</td>
      <td>{{ device.width }}</td>
      <td>{{ device.height }}</td>
      <td>
        <a routerLink="{{device.id}}" class="btn btn-primary" role="button">Details</a>
        <a (click)="deleteDevice(device.id)" class="btn btn-danger text-white" role="button">löschen</a>
      </td>
    </tr>
  </tbody>
</table>
