<div class="dashboard-center-content">
  <a name="Serverschränke Liste" id="" routerLink="/cabinet">
    <div class="card text-white">
      <img class="card-img-top" src="assets/img/cabinet.png" style="width: 80%; margin: 10%;" alt="Serverschränke Liste" />
      <div class="card-body bg-primary">
        <h4 class="card-title">Serverschränke</h4>
        <p class="card-text">{{ cabinetList.length }} Serverschränke vorhanden</p>
      </div>
    </div>
  </a>

  <a name="Device Liste" id="" routerLink="/device">
    <div class="card text-white">
      <img class="card-img-top" src="assets/img/device.png" alt="Device Liste" />
      <div class="card-body bg-primary">
        <h4 class="card-title">Geräte/Server</h4>
        <p class="card-text">{{ deviceList.length }} Geräte/Server vorhanden</p>
      </div>
    </div>
  </a>
</div>
