.dashboard-center-content {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: grid;

  .card {
    margin-top: 20px;
    background-color: #fff;
  }

  @media only screen and (min-width: 900px) {
    width: 60%;
    margin: 10% auto;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 50% 50%;

    .card {
      margin-top: 0;
    }

    .card:not(first-child) {
      margin-left: 20px;
    }
  }
}

a {
  text-decoration: none;
}
