<div class="add-form">
    <h2>Server/Geräte anlegen</h2>
    <div class="form-group">
      <label for="">Breite</label>
      <input
        [(ngModel)]="newDevice.width"
        type="number"
        min="1"
        max="30"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="Breite"
      />
      <small id="helpId" class="form-text text-muted">Breite des neuen Gerätes</small>
    </div>
    <div class="form-group">
      <label for="">Höhe</label>
      <input
        [(ngModel)]="newDevice.height"
        type="number"
        min="1"
        max="30"
        class="form-control"
        name=""
        id=""
        aria-describedby="helpId"
        placeholder="Höhe"
      />
      <small id="helpId" class="form-text text-muted">Höhe des neuen Gerätes</small>
    </div>
    <input name="addCabinet" (click)="createDevice()" id="" class="btn btn-primary" type="button" value="hinzufügen" />
  </div>
